<h1>Word Count Results   </h1>
<a href="{% url 'home' %}"><< BACK</a>
<br>
<h2>Total Word Counts : </h2> {{ total_count }}
<h2>  Full Text : </h2>
{{ full_text }}
<h2>List Count Word</h2>

{% for word, count in word_list_count %}
<strong> {{ word }} :</strong>  {{ count }} <br>
{% endfor %}